{%extends 'base.html' %}

{% block content %}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<h2>List of Persons</h2>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Bio</th>
        <th>Active</th>
        <th>Photo</th>
        <th>En_Ligne</th>
    </tr>
    {% for per in person %}
    <tr>
        <td>{{ per.first_name }}</td>
        <td>{{ per.last_name }}</td>
        <td>{{ per.age }}</td>
        <td>{{ per.bio }}</td>
        <td>{{ per.active|yesno:"Yes,No" }}</td>
        <td><img src="{{ per.image.url}}" alt="Photo of {{ per.first_name }}" style="width:50px;height:50px;"></td>
        <td>{{ per.en_ligne|yesno:"Yes,No" }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<br>




{%endblock content%}