{%extends 'base.html' %}

{% block content %}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
</style>

<h2>List of Persons</h2>
<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Bio</th>
        <th>Active</th>
        <th>Photo</th>
    </tr>
    {% for person in persons %}
    <tr>
        <td>{{ person.first_name }}</td>
        <td>{{ person.last_name }}</td>
        <td>{{ person.age }}</td>
        <td>{{ person.bio }}</td>
        <td>{{ person.active|yesno:"Yes,No" }}</td>
        <td><img src="{{ person.photo.url }}" alt="Photo of {{ person.first_name }}" style="width:50px;height:50px;"></td>
    </tr>
    {% endfor %}
</table>


{%endblock content%}