
{% include 'partes/navbar.html' %} <!--la place de header appller avec include et leur mplacement dans templates-->

<!--style pour tous les page de html (block: content)
<style>
    body {
        color: rgb(255, 255, 255);
        background-color: rgb(33, 33, 33);
    }
</style>
-->



<!--________________________________________________________________________________-->

{%block content%} <!--le meme non de les page html qui contein des 'content'  -->
{% endblock content%}

<!--________________________________________________________________________________-->

{% include 'partes/footer.html' %}<!--la place de heafooterfder appller avec include et leur mplacement dans templates-->


